@import "tailwindcss";

@theme {
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-300: #d1d5db;
    --color-gray-500: #6b7280;
    --color-gray-900: #111827;
    --color-red-600: #dc2626;
    --color-white: #ffffff;
    --color-brand: #474798;
    --color-brand-dark: #3E1960;
    --color-victoria-50: #f3f4fb;
    --color-victoria-100: #e3e6f6;
    --color-victoria-200: #cdd4f0;
    --color-victoria-300: #abb8e5;
    --color-victoria-400: #8394d7;
    --color-victoria-500: #6573cc;
    --color-victoria-600: #5259be;
    --color-victoria-700: #4749ae;
    --color-victoria-800: #434296;
    --color-victoria-900: #363772;
    --color-victoria-950: #262546;


}

@layer base {
    body {
        background-color: var(--color-gray-50);
        color: var(--color-gray-900);
        /* No v4, você também pode usar a variável direto se preferir */
        font-family: ui-sans-serif, system-ui, sans-serif;
    }
}
