@import "tailwindcss";

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-900: #111827;
  --color-red-600: #dc2626;
  --color-white: #ffffff;

  /* Removidas as quebras de linha para evitar erro de parse */
  --color-brand: #5A2A87;
  --color-brand-dark: #3E1960;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    /* No v4, você também pode usar a variável direto se preferir */
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}
